<%-include('../includes/head.ejs')%>
<header>
  <body>
    <%-include('../includes/navigation.ejs')%>
    <main class="centered">
      <div class="card-container">
        <h1><%= product.title %></h1>
        <hr />
        <div class="card">
          <div class="card_image">
            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" />
          </div>
          <div>
            <h2>$<%=product.price %></h2>
            <h3><%= product.Description %></h3>
          </div>
          <div>
            <%-include('../includes/add-to-cart.ejs',{product: product})%>
          </div>
        </div>
      </div>
    </main>
    <%-include('../includes/end.ejs')%>
  </body>
</header>
